[Unit]
Description=Wireguard Interactive Connectivity Establishment

Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=wice daemon

[Install]
WantedBy=multi-user.target