[Unit]
Description=WireGuard Interactive Connectivity Establishment

Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=cunicu daemon

[Install]
WantedBy=multi-user.target