# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: build

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt-get install -y coturn protobuf-compiler make

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    
    - name: Install build and test dependencies
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
        go install github.com/onsi/ginkgo/v2/ginkgo@latest
        go install sigs.k8s.io/controller-runtime/tools/setup-envtest@latest
        go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Run wice build
      run: go build ./cmd/wice
      
    - name: Run vet
      run: go vet --copylocks=false ./...

    - name: Run staticcheck
      run: staticcheck ./...

    - name: Run root-less tests
      run: make tests

    # - name: Run tests requiring root access
    #   run: |
    #     sudo --preserve-env \
    #       env "PATH=$PATH" \
    #       make tests

    - name: Report test coverage to Codacy
      uses: codacy/codacy-coverage-reporter-action@v1
      env:
        CODACY_REPORTER_TMP_FOLDER: .codacy
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: coverprofile.out
        force-coverage-parser: go