# SPDX-FileCopyrightText: 2023-2024 Steffen Vogel <post@steffenvogel.de>
# SPDX-License-Identifier: Apache-2.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Release

on:
  push:
    branches:
    - main

jobs:
  semver-tag:
    uses: cunicu/.github/.github/workflows/release.yaml@v0.2.0
    secrets:
      PAT: ${{ secrets.PAT }}
