# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Test build of website

on:
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash
    working-directory: website

jobs:
  test-website:
    name: Test build of website
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get install -y
            coturn
            protobuf-compiler
            make
            libpcap-dev

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true
    
    - name: Install build and test dependencies
      run: make install-deps
      working-directory: ./

    - name: Generate docs
      run: make docs
      working-directory: ./
  
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: yarn
        cache-dependency-path: website/yarn.lock

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Test build website
      run: yarn build
